* {
    margin: 0;
    padding: 0;
}

*:not(footer)::selection {
	color: var(--darkColorStrong);
	background-color: var(--darkColorWeak);
}

footer *::selection {
	color: var(--darkColorStrong);
	background-color: var(--lightColor);
}

/*----------------------[Header]----------------------*/
header.landleg {
	text-align: center;
	padding: 100px 50px;
}

header.landleg h1 {
	margin-bottom: 30px;
	color: var(--darkColor);
	font-size: 80px;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

header.landleg small {
	font-size: 13px;
	color: var(--grayColor);
}

/*----------------------[Navbar]----------------------*/

nav {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

li.navitem.right { float: right; }

nav ul li#burgerBtn { display: none; }

/*----------------------[SideMenu]---------------------*/
#sideMenuBG {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99;
	animation-name: modalFade;
	animation-duration: .3s;
}

#sideMenu {
	position: fixed;
	width: 200px;
	height: 100vh;
	background-color: var(--lightColor);
	box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.5);
	animation-name: sideMenuSlide;
	animation-duration: .5s;
}

#sideMenu ul.list.sideMenu {
	margin-top: 50px;
	box-shadow: none;
}

#sideMenu ul.list.sideMenu a {
	color: var(--darkColor);
	font-weight: bold;
}

#sideMenu ul.list.sideMenu a li{
	padding: 15px;
	font-size: 17px;
	transition-property: background-color;
	transition-duration: .5s;
}

#sideMenu ul.list.sideMenu a li:hover { background-color: #c9c9c9; }

#sideMenu h2 {
	display: none;
	position: relative;
	top: 8px;
	left: 15px;
	float: left;
	font-size: 35px;
}

/*---------------------[ScrollBtn]---------------------*/
div#scrollBtn {
	display: none;
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 30px;
	height: 30px;
	padding: 10px 10px 5px 10px;
	border-radius: 5px;
	text-align: center;
	color: var(--lightColor);
	background-color: var(--darkColor);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	opacity: 0.3;
	cursor: pointer;
	transition-property: opacity;
	transition-duration: .3s;
	animation-name: scrollBtnSlide;
	animation-duration: .3s;
	z-index: 97;
}

div#scrollBtn:hover { opacity: 0.9; }

/*----------------------[Modal]-----------------------*/
div.modalBG {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	animation-name: modalFade;
	animation-duration: .3s;
	z-index: 98;
}

div.modalBG div.fold {
	margin: 200px auto;
	width: 500px;
	animation-name: modalSlide;
	animation-duration: .5s;
}

div.modalBG div.fold div.fold-header h4 {
	float: left;
	display: inline-block;
}

#loginModalCloseBtn, #contactModalCloseBtn {
	float: right;
	cursor: pointer;
	font-size: 30px;
	transition-property: color;
	transition-duration: .3s;
}

div.modalBG div.fold div.fold-header i.fas.fa-times:hover { color: var(--darkColorLighten); }

form.loginForm, form.contactForm {
	width: 100%;
	margin: 50px 1px;
}

form.loginForm input, form.contactForm input, form.contactForm textarea {
	width: 94.5%;
	margin: 5px auto;
}

form.contactForm textarea {
	resize: vertical;
	min-height: 55px;
	max-height: 200px;
}

form.loginForm input[type="submit"], form.loginForm input[type="reset"], form.contactForm input[type="submit"], form.contactForm input[type="reset"] { width: 49%; }

form.loginForm input[type="submit"], form.contactForm input[type="submit"] { float: left; }

form.loginForm input[type="reset"], form.contactForm input[type="reset"] { float: right; }

/*----------------------[Footer]----------------------*/
footer {
	padding: 0px 80px;
	color: var(--lightColor);
	background-color: var(--darkColor);
}

footer .fold.creatorCard {
	flex: 1px;
	margin-top: 20px;
	font-size: 16px;
	background-color: rgba(25, 32, 38, 0.6);
	border: none;
	box-shadow: 0px 4px 3px rgb(25, 32, 38);
}

footer .fold.creatorCard h3 { color: rgba(173, 173, 173, 0.6); }

footer .fold.creatorCard:not(:last-child) { margin-right: 150px; }

p#copyRight {
	margin-top: 10px;
	text-align: center;
	color: var(--grayColor);
	font-size: 12px;
}

footer ul.list a {
	color: rgba(162, 162, 162, 0.6);
	font-weight: bold;
}

footer ul.list a:hover { color: rgba(234, 234, 234, 0.6); }

footer .fold.creatorCard ul.list a {
	color: var(--lightColor);
	font-weight: 500;
}

footer .fold.creatorCard ul.list a li {
	transition-property: color;
	transition-duration: .5s;
}

footer .fold.creatorCard ul.list a li:hover { color: var(--blueColor); }

/*--------------------[Aniamations]--------------------*/
@keyframes scrollBtnSlide {
	from {
		opacity: 1;
		bottom: -50px;
	}
	to {
		opacity: 0.3;
		bottom: 50px; 
	}
}

@keyframes modalFade {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes modalSlide {
	from { transform: translateY(-50px); }
	to { transform: translateY(0px); }
}

@keyframes sideMenuSlide {
	from { transform: translateX(-200px); }
	to { transform: translateX(0px); }
}

/*-------------------[Responsivness]---------------------*/
@media (max-width: 900px) {
	header.landleg h1 { font-size: 70px; }
	
	nav ul a.primaryItem { display: none; }
	
	nav ul a li#burgerBtn { display: block; };
	
	footer #creatorCards { flex-direction: column; }
	
	footer .fold.creatorCard { width: 89%; }
	
	footer div.flex { display: block; }
	
	footer div h2 { margin-top: 50px; }
}

@media (max-width: 1250px) {
	footer .fold.creatorCard:not(:last-child) {
		margin-right: 50px;
	}
}